.page {
    max-width: 1600px;
    margin: 0 auto;
    font-family: $font-lato;
    @include font(14px, 400, 17px);
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;

    @include tablet {
        width: $tablet-width;
    }

    @include mobile {
        width: $mobile-width;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

@media (max-width: 1599px) {
    .container {
        width: 96%;
    }
}

@media (max-width:768px) {
    .container {
        width: 95.2%;
    }
}