:root {
    --black: #222222;
    --pink: #F1E4E6;

}

.page {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
}

.header__nav {
    display: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 31px;
}

.header__menu-btn {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
}

.brand__wrp {
    background-color: var(--pink);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: #F16D7F;
}

.sales__list {
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    background: rgba(33, 22, 22, 0.7);
}

.sales__text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
}

.sales__item-title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #F16D7F;
}


.products__heading {
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #222222;
    text-transform: capitalize;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
}

.products__heading-text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #9F9F9F;
}

.products__item-title {
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.products__text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #5D5D5D;
}

.products__text-pink {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F16D7F;
}

.products__button {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
}

.servise {
    background-color: var(--black);
}

.servise__list {
    display: flex;
    justify-content: space-between;
}

.servise__item-title {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #FBFBFB;
}

.servise__text {
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #FBFBFB;
}

.subscription__list {
    display: flex;
    justify-content: space-between;
}

.subscription__text {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222224;
}

.subscription__item-title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #222224;
}

.subscription__subtitle {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #222224;
}

.footer {
    background-color: var(--black);
}

.footer__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 79px;
}

.footer__copy-title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__socials-list {
    display: flex;
}

.footer__social-link {
    margin: 0 0 0 7px;
}