.brand {
    background-color: $pink;

    &-box {
        max-width: 1600px;
        display: flex;
    }

    &__img {
        width: 50%;

        @include tablet {
            height: auto;
        }

        @include mobile {
            display: none;
        }
    }

    &__wrp {
        display: flex;
        flex-grow: 1;
        padding: 0 0 0 92px;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 0 0 0 67px;
        }

        @include mobile {
            min-height: 363px;
            padding: 0 0 0 83px;
        }
    }

    &__title {
        font-family: $font-lato;
        @include font(48px, 900, 58px);
        text-transform: uppercase;
        position: relative;

        &::before {
            content: " ";
            width: 12px;
            height: 100%;
            background-color: $dark-pink;
            position: absolute;
            left: -25px;
            top: 5px;
        }

        @include tablet {
            @include font(44px, 900, 52px);
        }

        @include mobile {
            @include font(38px, 900, 46px);
        }
    }

    &__subtitle {

        display: block;
        @include font(37px, 700, 44px);

        @include tablet {
            @include font(24px, 700, 29px);
        }

        @include mobile {
            @include font(20px, 700, 24px);
        }

        &-pink {
            color: $dark-pink;
        }
    }
}