.shopping-box {
    display: flex;
    justify-content: space-between;

    .cart {
        margin: 0 0 128px 0;
    }

    .cart__list {
        margin: 96px 0 72px 0;
    }

    .cart__item {
        width: 652px;
        height: 306px;
        background: $just-white;
        filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    }

    .cart__item:first-child {
        margin: 0 0 40px 0;
    }

    .cart__item-wrp {
        display: flex;

    }

    .cart__item-box {
        padding: 22px 97px 0 32px;
        display: flex;
        flex-direction: column;
    }

    .cart__heading {
        @include font(24px, 400, 29px);
        text-transform: uppercase;
        color: $black;
        margin: 0 0 42px 0;
        width: 210px;
    }

    .cart__text {
        @include font(22px, 400, 26px);
        color: #575757;
        margin: 0 0 6px 0;
        text-transform: capitalize;
    }

    .cart__text-pink {
        color: $dark-pink;
    }

    .cart__text-box {
        display: inline-block;
        border: 1px solid #EAEAEA;
        padding: 1px 16px 1px 16px;
        margin: 0 0 0 24px;
    }

    .cart__buttons {
        display: flex;
        justify-content: space-between;
    }

    .cart__buttons-item {
        padding: 16px 40px 16px 40px;
        @include font(14px, 300, 17px);
        color: #000000;
        text-transform: uppercase;
        outline: 1px solid #A4A4A4;
        background: $just-white;
        cursor: pointer;
        border: none;
    }

    .cart__buttons-item:hover {
        border: none;
        color: $just-white;
        background: $dark-pink;
        outline: 1px solid #FF6A6A;
        transition: 0.2s;
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .3);
    }

    .cart__buttons-item:focus {
        border: none;
        outline: 2px solid $outline-color;
    }

    .cart__buttons-item:active {
        border: none;
        color: $just-white;
        background: $dark-pink;
        outline: 1px solid #FF6A6A;
        transition: 0.2s;
        box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .6);
    }


}