.shopping-box {
    display: flex;
    justify-content: space-between;

    @include tablet {
        flex-direction: column;
    }

    .cart {
        margin: 0 0 128px 0;
        width: 57.2%;

        @include tablet {
            width: 99.7%;
            margin: 0 0 64px 0;
        }

        @include mobile {
            width: 100%;
            margin: 0 0 48px 0;
        }

        &__heading {
            @include font(24px, 400, 29px);
            text-transform: uppercase;
            color: $black;
            margin: 0 0 42px 0;
            width: 67.2%;

            @include tablet {
                width: 55.5%
            }

            @include mobile {
                @include font(16px, 400, 19px);
                width: 69.3%;
                margin: 0 0 26px 0;
            }
        }

        &__text {
            @include font(22px, 400, 26px);
            color: #575757;
            margin: 0 0 6px 0;
            text-transform: capitalize;

            @include mobile {
                @include font(14px, 400, 17px);
                margin: 0;
            }

            &-pink {
                color: $dark-pink;
            }

            &-box {
                display: inline-block;
                border: 1px solid #EAEAEA;
                padding: 1px 16px 1px 16px;
                margin: 0 0 0 24px;
            }
        }

        &__list {
            margin: 96px 0 72px 0;

            @include tablet {
                margin: 59px 0 62px 0;
            }

            @include mobile {
                margin: 39px 0 48px 0;
            }
        }

        &__item {
            height: 306px;
            background: $just-white;
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));

            @include mobile {
                height: 188px;
            }

            &:first-child {
                margin: 0 0 40px 0;


                @include mobile {
                    &:first-child {
                        margin: 0 0 32px 0;
                    }
                }
            }

            &-img {
                width: 40.2%;

                @include tablet {
                    width: 35.7%;
                }

                @include mobile {
                    width: 40%;
                    height: 188px;
                }
            }

            &-wrp {
                display: flex;
            }

            &-box {
                padding: 22px 0 0 32px;
                display: flex;
                flex-direction: column;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;

            @include tablet {
                justify-content: space-evenly;
            }

            @include mobile {
                justify-content: space-between;
            }

            &-item {
                padding: 16px 40px 16px 40px;
                @include font(14px, 300, 17px);
                color: #000000;
                text-transform: uppercase;
                outline: 1px solid #A4A4A4;
                background: $just-white;
                cursor: pointer;
                border: none;

                @include mobile {
                    padding: 9px 14px 9px 14px;
                    @include font(12px, 300, 14px);
                }

                &:hover {
                    border: none;
                    color: $just-white;
                    background: $dark-pink;
                    outline: 1px solid #FF6A6A;
                    transition: 0.2s;
                    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .3);
                }

                &:focus {
                    border: none;
                    outline: 2px solid $outline-color;
                }

                &:active {
                    border: none;
                    color: $just-white;
                    background: $dark-pink;
                    outline: 1px solid #FF6A6A;
                    transition: 0.2s;
                    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .6);
                }
            }
        }
    }
}