.catalog {

    &__heading-box {
        display: flex;
        width: 61%;
        justify-content: space-between;
        margin: 39px 0 0 0;
        align-items: center;

        @include tablet {
            width: 100%;
        }
    }

    &__filter {
        display: flex;

        &-list {
            display: none;
            position: absolute;
            z-index: 2;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            width: 330px;
            padding: 54px 0 16px 33px;
            background-color: $just-white;
            left: 0;
            top: -10px;
        }

        &-item {
            padding: 0 0 32px 0;
        }

        &-sublist {
            padding: 24px 0 0 2px;
            display: none;
        }

        &-subitem:not(:last-child) {
            margin: 0 0 11px 0;
        }

        &-heading {
            display: inline-block;
            text-transform: uppercase;
            @include font(14px, 400, 17px);
            color: #6F6E6E;
            text-decoration: none;
            transition: 0.25s;
            position: relative;
            cursor: pointer;
        }

        &-heading::before {
            content: " ";
            width: 5px;
            height: 37px;
            background-color: #F16D7F;
            position: absolute;
            left: -10px;
            top: -10px;
        }

        &-heading::after {
            content: " ";
            width: 327px;
            height: 1px;
            background-color: #EBEBEB;
            position: absolute;
            left: -10px;
            top: 26px;
        }

        &-heading:hover {
            transform: scale(1.1);
        }

        &-heading:hover,
        &-heading:focus {
            color: #EF5B70;
            outline: none;
        }

        &-sublink {
            @include font(14px, 400, 17px);
            text-decoration: none;
            text-transform: capitalize;
            color: #6F6E6E;
            display: inline-block;
            transition: 0.25s;
        }

        &-sublink:hover {
            transform: scale(1.1);
        }

        &-sublink:hover,
        &-sublink:focus {
            color: #EF5B70;
            outline: none;
        }

        &-btn {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            @include font(14px, 600, 17px);
            color: #000000;
            cursor: pointer;
            background: transparent;
            border: none;
            font-family: $font-lato;
            position: absolute;
            left: 16px;
            top: 4px;
            z-index: 3;
            transition: 0.25s;
        }

        &-span {
            @include mobile {
                display: none;
            }
        }

        &-btn:hover,
        &-btn:focus {
            color: $dark-pink;
            outline: none;
            transform: scale(1.1);
        }

        &-img {
            padding: 0 0 0 11px;
            fill: #000000;

            @include mobile {
                padding: 0;
            }
        }

        &-btn:hover &-img {
            fill: $dark-pink;
        }

        &-btn:focus &-img {
            fill: $dark-pink;
        }
    }

    &__parameters {
        display: flex;

        &-list {
            position: relative;
            display: flex;
        }

        &-item:not(:last-child) {
            position: relative;
            margin: 0 28px 0 0;

            @include mobile {
                margin: 0 18px 0 0;
            }
        }

        &-sublist {
            display: none;
            margin: 10px 0 0 0;
            text-transform: uppercase;
            padding: 12px 10px 12px 10px;
            color: #6F6E6E;
            @include font(14px, 400, 16px);
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            position: absolute;
            z-index: 1;
            background-color: $just-white;
            border-radius: 5px;
            cursor: pointer;
        }

        &-subitem:hover {
            box-shadow: 1pt 1pt 3pt 0 #EF5B70;
        }

        &-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &-checkbox+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        &-checkbox+label::before {
            cursor: pointer;
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        &-checkbox:checked+label::before {
            border-color: $dark-pink;
            background-color: $dark-pink;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        &-arrow {
            font-family: $font-lato;
            padding: 0;
            background: transparent;
            border: none;
            text-transform: uppercase;
            @include font(14px, 400, 17px);
            color: #6F6E6E;
            cursor: pointer;
            transition: 0.25s;

            @include mobile {
                font-size: 12px;
                line-height: 14px;
                @include font(12px, 400, 14px);
                color: #6F6E6E;
            }
        }

        &-arrow:hover,
        &-arrow:focus {
            color: $dark-pink;
            transform: scale(1.2);
        }

        &-arrow:focus {
            outline: none;
        }

        &-arrow:hover &-img,
        &-arrow:focus &-img {
            fill: $dark-pink;
        }

        &-img {
            padding: 0 0 0 10px;
            fill: #6F6E6E;
            transition: 0.25s;
        }

    }

    &__list {
        margin: 65px 0 48px 0;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
        gap: 30px;
        justify-content: center;

        @include tablet {
            gap: 16px;
        }
    }

    &__item {
        background-color: #F8F8F8;

        &-container {
            padding: 25px 28px 20px 16px;
        }

        &-title {
            margin: 0 0 12px;
            @include font(13px, 400, 16px);
            color: #000000;
            text-transform: uppercase;
        }
    }

    &__text {
        margin: 0 0 18px;
        @include font(14px, 300, 17px);
        color: #5D5D5D;

        &-pink {
            @include font(16px, 400, 19px);
            color: $dark-pink;
        }
    }

    &__nav {
        text-align: center;
        margin: 0 0 96px 0;

        &-link {
            display: block;
            text-decoration: none;
            @include font(16px, 300, 19px);
            color: #EBEBEB;
            transition-duration: 0.3s;

            &:hover,
            &:focus {
                color: $dark-pink;
                transform: scale(1.3);
            }

            &:focus {
                outline: none;
            }
        }

        &-box {
            display: inline-block;
            border: 1px solid #EBEBEB;
        }

        &-list {
            margin: 0 15px 0 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-item {
            cursor: pointer;
        }

        &-item:nth-child(1),
        &-item:nth-child(2),
        &-item:nth-child(3),
        &-item:nth-child(4),
        &-item:nth-child(5) {
            margin: 0 30px 0 0;
        }
    }

    &__arrow {

        display: flex;
        padding: 12px 15px 12px 15px;

        &-left,
        &-right {
            background: transparent;
            display: flex;
            align-items: center;
            border: none;
        }

        &-img:hover,
        &-img:hover {
            fill: $dark-pink;
            transform: scale(1.4)
        }

        &-right:focus,
        &-left:focus {
            outline: none;
        }

        &-right:focus &-img,
        &-left:focus &-img {
            fill: $dark-pink;
            transform: scale(1.4);
        }

        &-img {
            width: 8px;
            height: 14px;
            fill: #000000;
            cursor: pointer;
        }
    }
}

.cart {
    cursor: pointer;
    min-height: 420px;
    width: 360px;

    &-wrapper-overlay {
        position: relative;

        &:before {
            content: '';
            width: 100%;
            min-height: 420px;
            background: rgba(58, 56, 56, 0.86);
            position: absolute;
            top: 0;
        }

        &:before {
            display: none;
        }
    }

    &-img {
        margin: 0 11px 0 0;
        align-self: center;
    }

    &-button {
        padding: 12px 15px 12px 50px;
        border: 1px solid $just-white;
        font-size: 14px;
        color: $just-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/basket.svg);
        background-repeat: no-repeat;
        background-position: 13px 8px;
        background-size: 26px 24px;
        display: none;
        background-color: transparent;
        cursor: pointer;
        transition: 0.07s;
    }

    &:hover .cart-button,
    &:hover .cart-wrapper-overlay:before {
        display: block;
    }

    &:active .cart-button {
        box-shadow: 5px 5px 30px 0px rgba(218, 215, 215, 0.6);
    }
}

.display-block {
    display: block;
}