.choice {

    &-box {
        border: 1px solid #EAEAEA;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: -65px;
        z-index: 1;
        background: $just-white;
    }

    &__title {
        @include font(14px, 300, 17px);
        text-transform: uppercase;
        color: $dark-pink;
        padding: 65px 0 0 0;
    }

    &__subtitle {
        @include font(18px, 300, 22px);
        text-transform: uppercase;
        color: #4D4D4D;
        padding: 27px 0 0 0;
        position: relative;

        &::before {
            content: " ";
            width: 63px;
            height: 3px;
            background-color: #EF5B70;
            position: absolute;
            left: 90px;
            top: 12px;
        }
    }

    &__text {
        @include font(14px, 300, 17px);
        color: #5E5E5E;
        padding: 48px 0 0 0;
        width: 58%;
    }

    &__text-pink {
        @include font(24px, 300, 29px);
        text-transform: uppercase;
        padding: 32px 0 0 0;
        color: #EF5B70;
    }

    &__parameters-box {
        display: flex;
        padding: 130px 0 0 0;
        max-width: 100%;
        justify-content: center;
        position: relative;


        &::before {
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #EAEAEA;
            position: absolute;
            left: 0;
            top: 65px;

            @include mobile {
                width: 175px;
                left: 18%;
            }
        }
    }

    &__parameters-list {
        display: flex;
    }

    &__parameters-item:not(:last-child) {
        margin: 0 42px 0 0;
    }

    &__parameters-text {
        @include font(14px, 400, 17px);
        color: #6F6E6E;
        text-transform: uppercase;

        @include mobile {
            @include font(10px, 400, 12px);
        }
    }

    &__button {
        background: $just-white;
        position: relative;
        justify-content: space-between;
        @include font(16px, 400, 19px);
        border: none;
        outline: 1px solid #FF6A6A;
        color: #FF6A6A;
        background: $just-white;
        margin: 49px 0 65px 0;
        padding: 14px 56px 14px 73px;
        cursor: pointer;
        transition: 0.25s;

        &-img {
            position: absolute;
            fill: #FF6A6A;
            left: 23px;
            top: 12px;
        }

        &:hover,
        &:focus {
            color: $just-white;
            background: #FF6A6A;
            box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .3);
        }

        &:hover &-img,
        &:focus &-img {
            fill: #EAEAEA
        }

        &:active {
            color: $just-white;
            background: #FF6A6A;
            box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .6);
        }
    }
}

.products__choice-wrp {
    margin: 665px 0 128px 0;
}

.products__list {
    @include mobile {
        display: flex;
        justify-content: center;
    }
}

.item-arrivals:nth-child(3) {

    @include tablet {
        display: none;
    }

    @include mobile {

        display: block;
    }
}

.item-arrivals:nth-child(2) {
    @include mobile {
        display: none;
    }
}