.footer {
    background-color: $black;

    &__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;

        @include mobile {
            flex-direction: column-reverse;
            text-align: center;
        }

    }

    &__copy-title {
        @include font(16px, 400, 19px);
        color: #FBFBFB;
        text-transform: capitalize;

        @include tablet {
            padding: 0 0 0 16px;
        }

        @include mobile {
            padding: 0 0 9px 0;
        }
    }

    &__socials-list {
        display: flex;

        @include tablet {
            padding: 0 16px 0 0;
        }

        @include mobile {
            padding: 43px 0 40px 0;
        }
    }

    &__social-item {
        margin: 0 0 0 7px;
    }

    &__social-link {
        fill: $just-white;

        &:hover,
        &:focus {
            cursor: pointer;
            fill: $dark-pink;
            transition: 0.25s;
        }

        &:hover .item-icon,
        &:focus .item-icon {
            fill: $just-white;
            transition: 0.25s;
        }
    }
}

.item-icon {
    fill: #000000;
}