.header {
    background-color: $black;

    &__wrp {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;

        &-logs {
            @include tablet {
                margin: 0 0 0 16px;
            }
        }

        &-link {
            margin: 0 16px 0 0;
        }
    }

    &__nav {
        position: absolute;
        top: 75px;
        right: -245px;
        display: none;

        &-wrp {
            background-color: $just-white;
            width: 232px;
            height: 764px;
            box-shadow: -5px 5px 30px 0px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
        }

        &-title {
            text-transform: uppercase;
            padding: 37px 0 0 34px;
        }
    }

    .display-block {
        display: block;
    }

    &__logo {
        margin: 0 41px 0 0;
    }

    .btn-icon {
        fill: #e8e8e8;
    }

    &__menu-btn {
        border: none;
        background-color: transparent;

        &:hover,
        &:focus {
            cursor: pointer;
            background: $black;
            transition: 0.25s;
        }

        &:hover {
            transform: scale(1.3);
        }

        &:hover &-icon,
        &:focus &-icon {
            fill: $pink;
        }

        &:active &-icon {
            fill: $dark-pink;
        }
    }

    &__link {
        margin: 0 0 0 31px;
        text-decoration: none;
        fill: #e8e8e8;

        &:hover,
        &:focus {
            display: inline-block;
            cursor: pointer;
            transition: 0.25s;
        }

        &:hover {
            transform: scale(1.3);
        }

        &:active {
            fill: $dark-pink;
        }

        @include mobile {
            display: none;
        }
    }
}