.products {
    text-align: center;

    &__heading {
        margin: 0 0 6px;
        @include font(30px, 400, 36px);
        color: $black;
        text-transform: capitalize;

        &-text {
            margin: 0 0 48px;
            @include font(14px, 400, 17px);
            color: #9F9F9F;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;

        @include tablet {
            justify-content: space-evenly;
        }
    }

    &__item {
        background-color: #F8F8F8;
        width: 360px;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            margin: 0 0 30px;
        }

        &-title {
            margin: 0 0 12px;
            @include font(13px, 400, 16px);
            color: #000000;
            text-transform: uppercase;
        }

        &-container {
            padding: 25px 28px 20px 16px;
        }
    }

    .cart {
        min-height: 420px;
        width: 360px;

        &-wrapper-overlay {

            position: relative;

            &:before {
                content: '';
                width: 100%;
                min-height: 420px;
                background: rgba(58, 56, 56, 0.86);
                position: absolute;
                top: 0;

            }

            &:before {
                display: none;
            }
        }

        &-img {
            margin: 0 11px 0 0;
            align-self: center;
        }

        &-button {
            padding: 12px 15px 12px 50px;
            border: 1px solid $just-white;
            font-size: 14px;
            color: $just-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url(../img/basket.svg);
            background-repeat: no-repeat;
            background-position: 13px 8px;
            background-size: 26px 24px;
            display: none;
            background-color: transparent;
            cursor: pointer;
            transition: 0.07s;
        }

        &:hover .cart-button,
        &:hover .cart-wrapper-overlay:before {
            display: block;
        }

        &:active .cart-button {
            box-shadow: 5px 5px 30px 0px rgba(218, 215, 215, 0.6);
        }
    }

    &__text {
        margin: 0 0 18px;
        @include font(14px, 300, 17px);
        color: #5D5D5D;

        &-pink {
            @include font(16px, 400, 19px);
            color: $dark-pink;
        }
    }

    &__button {
        border: none;
        @include font(16px, 400, 19px);
        color: $dark-pink;
        text-transform: capitalize;
        background: $just-white;
        outline: 1px solid #FF6A6A;
        padding: 14px 38px;
        margin: 48px 0 96px 0;
        transition: 0.25s;
        cursor: pointer;

        @include tablet {
            margin: 48px 0 65px 0;
        }

        &:hover {
            color: $just-white;
            background: $dark-pink;
            outline: 1px solid #FF6A6A;
            box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .3);
        }

        &:focus {
            outline: 2px solid $outline-color;
        }

        &:active {
            color: $just-white;
            background: $dark-pink;
            outline: 1px solid #FF6A6A;
            box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, .6);
        }
    }
}