.sales {
    padding: 65px 0 96px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: center;
        width: 31%;
        min-height: 260px;
        text-align: center;
        text-transform: uppercase;
        flex-direction: column;

        @include tablet {
            width: 32%;
            min-height: 168px;
        }

        @include mobile {
            width: 100%;
            min-height: 247px;
        }

        &:first-child {
            background-image: url(../img/for-woman.jpg);
            background-size: cover;
            margin: 0 0 30px 0;

            @include tablet {
                margin: 0 0 20px 0;
            }
        }

        &:nth-child(2) {
            background-image: url(../img/for-man.jpg);
            background-size: cover;
            margin: 0 0 30px 0;

            @include tablet {
                margin: 0 0 20px 0;
            }
        }

        &:nth-child(3) {
            background-image: url(../img/for-kids.jpg);
            background-size: cover;
            margin: 0 0 30px 0;

            @include tablet {
                margin: 0 0 20px 0;
            }
        }

        &:last-child {
            background-image: url(../img/accesories.jpg);
            background-size: cover;
            width: 100%;
            min-height: 180px;

            @include tablet {
                min-height: 116px;
            }

            @include mobile {
                min-height: 111px;
            }
        }

        &-title {
            @include font(24px, 700, 29px);
            color: $dark-pink;
        }
    }

    &__text {
        @include font(16px, 400, 19px);
        color: $just-white;
    }
}